 .topnav {
    position: absolute;
    width: 100%;    
  }

  .topnav p{   
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    color:darkcyan;
    font-weight: bold;  
  }

  .topnav a{     
    color:darkcyan;
    font-weight: bold;  
  }
  
  .topnav p:hover {
    background-color: #407dce;
    color: black;
  }
  
  .topnav a:hover {
    background-color: #407dce;
    color: black;
  }
  
  .topnav .hamburguer {
    display: none;
  }

  .topnav .close{
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav p{display: none;}
    
    .topnav .hamburguer {
      float: right;
      display: block;
    }

    
  }
  
  @media screen and (max-width: 600px) {        
    .topnav.responsive{
      background-color: rgba(233, 255, 255, 0.9);
    }

    .topnav.responsive .close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      margin: 15px;
    }
    .topnav.responsive p {          
      display: block;
      float: none;
      text-align: center;
    }
    .topnav.responsive p:first-child{
      margin-top: 45px;
    }   

    .topnav.topnav.responsive .hamburguer{
      display: none;
    }
   
  }