 .topnav {
    position: absolute;
    width: 100%;
 
    
  }

  .topnav p{   
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    color:darkcyan;
    font-weight: bold;  
  }
  
  .topnav p:hover {
    background-color: #04AA6D;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav p{display: none;}
    .topnav .icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {        
    .topnav.responsive img {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive p {          
      display: block;
      float: none;
      text-align: end;
    }
   
  }