.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:  'Papyrus';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.borde{
  border: 3px solid white;
}

.portada{
  background-color: #dbdde0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #282c34;
  font-family:  'Papyrus';

}

.productos_titulo{
  margin-top: 30px;
}

.productos_lista{  
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  
}

.productos_articulo{  
  border:beige solid 1px;
  border-top: #aa1c03 solid 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  
  
}

