html{
  scroll-behavior: smooth;
  background: url('../src/img/Background.svg') ;
  background-position: center;
  background-color: #dbdde0;
}

@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url(./fonts/JosefinSans.ttf) format('truetype');
}

a{
  color: white;
  text-decoration: none;
}

h2{
  font-family: 'papyrus';
  margin: 0;
}

p{
  margin: 5px;
}

.fila{
  display: flex;
  flex-direction: row;
}

.fila_wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.columna{
  display: flex;
  flex-direction: column;
}

.centrar{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar{
  position: sticky;
  top:0;
  border: #aa1c03 solid 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:  'Papyrus';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.borde{
  border: 3px solid purple;
}

.portada{
  background: url('../src/img/Background.svg') ;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #282c34;
  font-family:  'Papyrus';
}

.navbar_seleccion:hover{
  cursor: pointer;
  color: #61dafb;
}





.modal_input{
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
}

.modal_boton{
  width: 100%;  
}

.administrador_portada{
  background-color: #dbdde0;
  display: flex;
  flex-direction: column;  
  font-size: calc(40px + 2vmin);
  color: #282c34;
  font-family:  'Papyrus';
  /* min-height: 100vh; */
}


.administrador_vistamenu{
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 5vh;
}

.administrador_img{
  max-width: 300px;  
}

.administrador_vistaagregar{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
}

.administrador_tamañoMenu{
  width: 60%;
  color: rgb(25, 5, 141);
}

.administrador_input{
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgb(25, 5, 141); 
  background-color: #dbdde0;
  width: 100%;
  font-family: 'Papyrus';
}

.administrador_separacion{
  line-height: 1;
}

.administrador_lista{  
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;  
  justify-content: center;
  margin-top: 15px;  

}

.administrador_contenedor_foto{
  max-width: 180px;
  height: 150px;
  overflow: hidden;
}

.adminstrador_fotos_modificar{
  margin-top: 10px;
  max-width: 180px;  
}

.administrador_vistaModificar{
  display: flex;   
  flex-wrap: wrap;  
  max-width: 200px;
  gap:10px;
  justify-content: center;
  background-color: #282c34;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 5px; 
}

.administrador_vistaModificar:hover{
  background-color: #4a505c;
  cursor:pointer;
}

.administrador_vistaModificar:active{
  background-color: #253657;
}

.administrador_vistaEliminar{
  display: flex;   
  flex-wrap: wrap;  
  max-width: 200px;
  gap:10px;
  justify-content: center;
  border: solid 4px #282c34;
  background-color: #282c347e;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 5px; 
}


.administrador_nombre{
  font-size: 20px;
  font-weight: bold;  
  color: beige;
}

.administrador_descripcion{
  font-size: 12px;
  color: beige;
  
}

.administrador_detalles{
  padding: 0px;
}

.administrador_inputBuscar{
  width: 30%;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgb(25, 5, 141); 
  background-color: #dbdde0;  
  font-family: 'Papyrus';
  margin-right: 10px;
}

.administrador_orange{
  background-color: rgba(223, 147, 5);
  height: 310px;  
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.administrador_agregarFoto{
  color: azure;
  font-weight: bold;
  font-size: 15px;
}

.administrador_agregarFoto:hover{
  cursor: pointer;
}

.administrador_listaCarrusel{
  display: flex;
  flex-direction: column;
  max-width: 90vw;

}

.dialog_ancho{
  margin: 0 20px 10px 20px ;
}

.slider {
  position: relative;
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  /* height: 40%; */
}

.right-arrow {
  position: absolute;
  top: 40%;
  right: 32px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover, .left-arrow:hover{
  color: rgba(0, 0, 0, 0.9);
  font-size: 4rem;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 32px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1);
}

.footer{
  height: 200px;
  background: url('../src/img/Background.svg') ;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.footer img{
    margin-top: 20px;
    width: 150px;
    float: right;
    padding-right: 25px;
}

.footer p{
  text-align: justify;
  font-family: 'JosefinSans';    
  color: #6e7fa5;
  width: 70%;
  padding-left: 15px;
}